.div.dropdown{ style: "display: inline-block;" }
  %a.dropdown-toggle.btn.btn-light{ role: "button", "data-bs-toggle": "dropdown", aria: { haspopup: true, expanded: false }, href: "#" }

  .dropdown-menu{ aria: { labelledby: "dropdownMenuLink" } }
    - AdminChartData::KNOWN_CHARTS.each do |chart|
      - icon = AdminChartData::CHART_ICONS[chart] || "📊"
    
      %a.dropdown-item{ href: admin_charts_path(chart: chart) }
        = "#{icon} #{t("admin.charts.#{chart}", default: chart.titleize)}"
