.row.mb-3
  .col-sm-4
    %label.form-label{ for: "settings_default_locale" }
      = t('admin.locale_language_default')
      %br/
      %small.text-muted
        = t('admin.locale_language_description')

  .col-sm-8
    - current_default = Setting.string_for(:default_locale, default: "en").to_sym
    %select.form-select.w-auto{name: "settings[default_locale]", id: "settings_default_locale"}
      - available_locales.each do |loc, name|
        - is_current = (loc == I18n.locale)
        - is_default = (loc == current_default)

        - label = name.dup
        - label += " (" + t('admin.locale_language_badge_current') + ")" if is_current
        - label += " (" + t('admin.locale_language_badge_default') + ")" if is_default

        %option{ value: loc, selected: (loc == current_default) }
          = label

.row.mb-3
  .col-sm-8
    = t('admin.locale_enable_languages')
