:ruby
  # Hole die Optionen für diesen Filter-Key
  options = filter_params[key]

  # Baue Hash: Titel => Wert
  filter_options = {
    options['1'][:title] => '1',
    options['0'][:title] => '0'
  }

  # Falls es eine dritte Option gibt (z. B. '2')
  if options['2']
    filter_options[options['2'][:title]] = '2'
  end

= render 'radio_filter_multi_links', param: key, values: filter_options