.ps-2.form-switch.text-muted.enable-tooltips{ style: "font-size: 0.875rem; display: inline-block;" }
  %label{ style: "cursor: pointer;" }
    -#
      The switch styled checkbox here is cosmetic only, it's behaving as link
      Todo: Should be able to style a normal link to look the same and ditch the actual checkbox

    <input class="form-check-input" id="templates-toggle-switch"
    type="checkbox" role="switch" #{show_templates ? "checked" : ""}
    onclick="window.location.href = '#{url_for(sort_filter_url(:t, show_templates ? nil : '1'))}';">
    nur Vorlagen
  = render 'popover_help', placement: 'bottom', size: '0.875rem', fill: '#666',
    html_content: ' |
      Vorlagen sind von Tiddlyhost-Benutzern erstellte |
      und für andere freigegebene „leere“ Vorlagen. |
      Sie können allgemeine Verbesserungen und Anpassungen enthalten |
      oder für einen bestimmten speziellen Zweck entwickelt worden sein.' |
