<% flash.each do |type, msg| %>
  <% next if msg.blank? %>
  <div class="alert alert-<%= flash_type(type) %> alert-dismissible fade show" role="alert">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>