- flash.each do |type, message|
  .flash-persistent.mb-3.d-flex.align-items-center{
    role: "alert",
    data: { flash_persistent: true }
  }
    - raw = flash[:persistent]
    - if raw.present?
      - text = raw.is_a?(Hash) ? raw["message"] : raw
      - auto = raw.is_a?(Hash) ? raw["auto_dismiss"] : false
    
      .flash-persistent.mb-3.d-flex.align-items-center{
        role: "alert",
        data: { flash_persistent: true, auto_dismiss: auto }
      }
        = text
    
        %button.btn-close.ms-auto{
          type: "button",
          aria: { label: "Schließen" }
        }
