.alert.banner-message {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;

  /* Einblenden */
  &.showing {
    transition:
      max-height 1.3s ease-out,
      padding 1.3s ease-out,
      margin 1.3s ease-out,
      opacity 1.3s ease-out;
    max-height: 200px;
    padding-top: var(--flash-pt, 0.75rem);
    padding-bottom: var(--flash-pb, 0.75rem);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 1;
  }

  /* Ausblenden */
  &.closing {
    transition:
       max-height 0.8s ease-out,
      padding 0.5s ease-out,
      margin 0.5s ease-out,
      opacity 0.5s ease-out;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0px;
    opacity: 0;
  }
}