= render layout: 'field_wrapper' do
  .form-check.enable-tooltips
    = f.check_box :allow_public_clone, class: 'form-check-input'
    = f.label :allow_public_clone, class: 'form-check-label' do
      Diese Seite als Vorlage für andere zum Klonen verfügbar machen

      = render 'popover_help',
        html_content: 'Dies ist für die gemeinsame Nutzung angepasster „Editionen“ |
        von TiddlyWiki vorgesehen, die von anderen Tiddlyhost-Benutzern als Vorlage |
        für die Erstellung neuer Websites verwendet werden können. Öffentliche und durchsuchbare Websites, für die diese Option aktiviert ist, werden |
        auf der Seite <a href="/templates?t=1" target="_blank">Vorlagen</a> aufgelistet.' |
