= render layout: 'field_wrapper' do
  .form-check.enable-tooltips
    = f.check_box :skip_etag_check, class: 'form-check-input'
    = f.label :skip_etag_check, class: 'form-check-label' do
      Die Überprüfung „Datei auf dem Server geändert“ beim Speichern ignorieren

      = render 'popover_help',
        html_content: 'Aktivieren Sie dieses Kontrollkästchen, wenn Sie der Meinung sind, dass der Fehler „Datei geändert auf |
          Server” Sie fälschlicherweise am Speichern hindert. |
          Es wird empfohlen, diese Option bei Bedarf vorübergehend zu verwenden, |
          anstatt sie dauerhaft aktiviert zu lassen.' |
