-#
  This is currently unused

%h1 Willkommen auf Tiddlyhost

%p
  Von hier aus kannst du
  = link_to 'deine Websites verwalten', sites_path
  or
  = link_to('dein Konto aktualisieren', edit_user_registration_path) + "."
