%h1 Impressum

%p{ style: "font-size: 0.9em;" }
  &#77;&#97;&#120;&#32;&#77;&#117;&#115;&#116;&#101;&#114;&#109;&#97;&#110;&#110;<br>
  &#71;&#108;&#252;&#99;&#107;&#115;&#112;&#102;&#97;&#100;&#32;&#49;&#55;<br>
  &#49;&#49;&#55;&#54;&#57;&#32;&#82;&#111;&#99;&#107;&#39;&#110;&#32;&#82;&#111;&#108;&#108;&#32;&#67;&#105;&#116;&#121;

  <h2>Kontakt</h2>
%p{ style: "font-size: 0.9em;" }

  E-Mail: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#97;&#105;&#108;&#64;&#101;&#120;&#97;&#109;&#112;&#108;&#101;&#46;&#99;&#111;&#109;">&#109;&#97;&#105;&#108;&#64;&#101;&#120;&#97;&#109;&#112;&#108;&#101;&#46;&#99;&#111;&#109;</a>
  
%p{ style: "font-size: 0.7em;" }
  Quelle: <a href="https://www.e-recht24.de/impressum-generator.html" target="_blank">https://www.e-recht24.de/impressum-generator.html</a> 
