<%= turbo_stream.replace dom_id(@message) do %>
  <div id="<%= dom_id(@message) %>" class="fade-out"></div>
<% end %>

<%= turbo_stream.update "shoutbox_count" do %>
  <%= ShoutboxMessage.count %>
<% end %>
