= render layout: 'field_wrapper' do
  .form-check.enable-tooltips
    = f.check_box :allow_in_iframe, class: 'form-check-input'

    = f.label :allow_in_iframe, class: 'form-check-label' do
      Das Laden der Website innerhalb eines Iframes zulassen

      = render 'popover_help',
        html_content: ' |
          Wenn dies als Standard festgelegt ist, <a |
          href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options" |
          target="_blank">X-Frame-Options</a> wird der Deny-Header unterdrückt. |
          Beachten Sie, dass Seiten, die in iframes geladen werden, anfällig sein können für |
          <a target="_blank" href="https://en.wikipedia.org/wiki/Clickjacking">click-jacking</a> |
          Angriffe.' |
